.searchstr{
    display: flex;
    flex-direction: row;
    border-radius: 0.5rem;
    background: cyan;
    padding: 0.25rem;
    align-items: center;
}

.searchstr > input {
    border:none;
    flex: 1 0 auto;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

.searchstr > div{
    padding: 0.5rem;
}

#results{
    padding: 0.5rem;
}

.ponas{
    display: flex;
    flex-direction: column;
    border-radius: 1rem;
    box-shadow: 0 0 5px blue;
    padding: 1rem;
}